body {
    width: 1024px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    position: relative;
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 375px;
    color: white;
    margin: 0 auto;
}

.header h1 {
  position: absolute;
  padding: 0 45px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: mediumslateblue;
    color: white;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 410px 0 0;
    font-size: 15px;
    font-weight: bold;
}

.who-we-are {
    text-align: center;
    font-size: 35px;
}

.who-we-are p {
    text-align: center;
    font-size: 15px;
    padding: 15px 245px;
}

.article-section h3{
    font-size: 20px;
    padding: 30px;
}

.article-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; 
}

.left-article {
 box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.left-article p {
    flex: 1;
  }
  
  .left-article img {
   max-width: 200px;
   margin-right: 20px;
  }

.vertical-line {
    border-left: 1px solid #000;
    height: 100%; 
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
}

.right-article {
    flex: 1;
    padding-left: 10px;
    box-sizing: border-box;
}